body{
	background-image: linear-gradient( 109.6deg,  rgba(5,84,94,1) 16%, #bbb 91.1% );
    background-repeat: no-repeat;

}

.card {
	background: #fbfbfb;
    border-radius: 8px;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
    height: 410px;
    margin: 6rem auto 8.1rem auto;
    width: 329px;
}

.content{
	padding: 12px 44px;
}

.title {
	font-family: "Raleway Thin", sans-serif;
    letter-spacing: 4px;
    padding-bottom: 23px;
    padding-top: 13px;
    text-align: center;
}

.underline {
	background-image: linear-gradient( 109.6deg,  rgba(5,84,94,1) 16%, #bbb 91.1% );
	height: 2px;
    margin: -1.1rem auto 0 auto;
    width: 89px;
}

a {
    text-decoration: none;
}

label {
    font-family: "Raleway", sans-serif;
    font-size: 11pt;
}

.form {
    align-items: left;
    display: flex;
    flex-direction: column;
}

.form-border {
    background-image: linear-gradient( 109.6deg,  rgba(5,84,94,1) 16%, #bbb 91.1% );
    height: 1px;
    width: 100%;
}

.form-content {
    background: #fbfbfb;
    border: none;
    outline: none;
    padding-top: 14px;
}

#forgot-pass {
    color: #0278ae;
    font-family: "Raleway", sans-serif;
    font-size: 10pt;
    margin-top: 3px;
    text-align: right;
}

p {
	font-family: "Raleway", sans-serif;
    font-size: 10pt;
    text-align: center;
}

a {
	color: #51adcf;
    font-family: "Raleway", sans-serif;
    font-size: 10pt;
    text-align: center;
}

button {
	margin: 20px 70px 25px 70px;
	background: #9ba4b4;
	border: none;
	color: white;
	width:90px;
	height:30px;
	border-radius:30px;
}

button:hover{
	color: white;
	background:#4e89ae;
}